In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [3]:
planes = {'PYT001':'Airbus 320','PYT002':'Boeing 737','PYT003':'Airbus 321'}

In [4]:
planes

{'PYT001': 'Airbus 320', 'PYT002': 'Boeing 737', 'PYT003': 'Airbus 321'}

In [5]:
aircrafts = pd.Series(planes)

In [6]:
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [7]:
flightsList = []

In [11]:
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index))
    
flightsList[:5]

['PYT003', 'PYT002', 'PYT003', 'PYT002', 'PYT003']

In [12]:
flights = pd.Series(flightsList)
flights.head()

0    PYT003
1    PYT002
2    PYT003
3    PYT002
4    PYT003
dtype: object

In [13]:
flights_aircrafts = flights.map(aircrafts)

In [14]:
flights_aircrafts

0     Airbus 321
1     Boeing 737
2     Airbus 321
3     Boeing 737
4     Airbus 321
         ...
95    Airbus 321
96    Airbus 321
97    Airbus 321
98    Airbus 320
99    Boeing 737
Length: 100, dtype: object