In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
salary = pd.read_csv('./data/developer_survey_2017/survey_results_public.csv', usecols=['Salary']).squeeze('columns').dropna()
salary

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary, Length: 12891, dtype: float64

In [3]:
salary.sort_values()

51144         0.0
23953         0.0
23907         0.0
44841         0.0
2951          0.0
           ...
1696     195000.0
41398    195000.0
6743     195000.0
27943    195000.0
31600    197000.0
Name: Salary, Length: 12891, dtype: float64

In [4]:
salary.sort_values().head(5)

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [5]:
salary.sort_values(ascending=False).head(5)

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [6]:
salary.sort_values(inplace=True)

AttributeError: 'NoneType' object has no attribute 'head'

In [7]:
salary.sort_values(inplace=True)
salary.head(15)

51144    0.000000
23953    0.000000
23907    0.000000
44841    0.000000
2951     0.000000
4517     0.000000
9082     0.014682
23414    0.029364
30627    0.044046
9133     0.044046
29459    0.044046
16895    0.058729
28716    0.058729
47479    0.102775
3011     0.117457
Name: Salary, dtype: float64

In [8]:
salary.sort_index()

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary, Length: 12891, dtype: float64

In [9]:
maxSalaries = salary.sort_values(ascending=False).head(100)

In [10]:
maxSalaries

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
           ...
14805    170000.0
291      170000.0
1115     170000.0
48222    170000.0
29662    170000.0
Name: Salary, Length: 100, dtype: float64

In [11]:
len(maxSalaries)

100

In [12]:
minSalaries = salary.sort_values().head(100)
minSalaries

51144      0.000000
23953      0.000000
23907      0.000000
44841      0.000000
2951       0.000000
            ...
15179    176.185582
33212    178.784267
50569    198.208780
48674    198.649186
1077     200.000000
Name: Salary, Length: 100, dtype: float64

In [13]:
maxSalaries.mean()

180198.1045586777

In [14]:
minSalaries.mean()

67.08388907133795