In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
age = [14,334,312,5823,9491,7486,4343]
age

[14, 334, 312, 5823, 9491, 7486, 4343]

In [3]:
incidentList = [14,334,312,5823,9491,7486,4343]
incidentList

[14, 334, 312, 5823, 9491, 7486, 4343]

In [4]:
ageList = [6, 7-14, 15-17, 18-24, 25-39, 40-59, 60]
ageList

[6, -7, -2, -6, -14, -19, 60]

In [5]:
ageList = ["6", "7-14", "15-17", "18-24", "25-39", "40-59", "60"]
ageList

['6', '7-14', '15-17', '18-24', '25-39', '40-59', '60']

In [6]:
incidents = pd.Series(data=incidentList, index=ageList)
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60       4343
dtype: int64

In [7]:
incidents.where(incidents > 1000)

6           NaN
7-14        NaN
15-17       NaN
18-24    5823.0
25-39    9491.0
40-59    7486.0
60       4343.0
dtype: float64

In [8]:
incidents.where(incidents > 1000).dropna()

18-24    5823.0
25-39    9491.0
40-59    7486.0
60       4343.0
dtype: float64

In [9]:
incident1000 = incidents.where(incidents > 1000).dropna()
incident1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
60       4343.0
dtype: float64

In [10]:
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60       4343
dtype: int64

In [11]:
incidents.filter(items=["18-24", "25-39", "40-59"])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [13]:
incidents.where(incidents < 1000, inplace=True)
incidents.dropna(inplace=True)
incidents

6         14.0
7-14     334.0
15-17    312.0
dtype: float64