In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
fuel = pd.read_csv('data/fuel.csv', usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], low_memory=False)

In [3]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [4]:
fuel.loc[27705, 'Class'] = np.NaN
fuel.loc[26561, 'Class'] = np.NaN
fuel.loc[27550, 'Fuel Type'] = np.NaN

In [5]:
len(fuel)

31684

In [6]:
fuel.count()

Vehicle ID            31684
Year                  31684
Make                  31684
Model                 31683
Class                 31681
Fuel Type             31682
Combined MPG (FT1)    31683
dtype: int64

In [7]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [8]:
fuel.dropna().head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [9]:
fuel.dropna().count()

Vehicle ID            31680
Year                  31680
Make                  31680
Model                 31680
Class                 31680
Fuel Type             31680
Combined MPG (FT1)    31680
dtype: int64

In [10]:
fuel.dropna(axis=1, how='any').count()

Vehicle ID    31684
Year          31684
Make          31684
dtype: int64

In [11]:
fuel.dropna(axis=0, subset=["Class"], how='any').count()

Vehicle ID            31681
Year                  31681
Make                  31681
Model                 31681
Class                 31681
Fuel Type             31680
Combined MPG (FT1)    31681
dtype: int64

In [12]:
fuel.count()

Vehicle ID            31684
Year                  31684
Make                  31684
Model                 31683
Class                 31681
Fuel Type             31682
Combined MPG (FT1)    31683
dtype: int64

In [21]:
fuel.Class.isnull().count()

31684

In [22]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [23]:
fuel[fuel.Class.isnull()]

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
26561,24586,2008,Chrysler,Pacifica FWD,NaN,Regular,18.0
27705,25742,2009,Chevrolet,Tahoe 1500 2WD,NaN,Gasoline or E85,15.0
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN

In [25]:
fuel.dropna(axis=0, subset=["Class"], how='any', inplace=True)

In [26]:
fuel[fuel.Class.isnull()]

Empty DataFrame
Columns: [Vehicle ID, Year, Make, Model, Class, Fuel Type, Combined MPG (FT1)]
Index: []

In [27]:
fuel.count()

Vehicle ID            31681
Year                  31681
Make                  31681
Model                 31681
Class                 31681
Fuel Type             31680
Combined MPG (FT1)    31681
dtype: int64